@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Yanone+Kaffeesatz:wght@600&display=swap');
*
{
    margin: 0%;
    padding: 0%;

}

/*-----------------------------------------------------Navbar Section-----------------------------------------------*/
.navbar .navbar-brand
{
    padding-left:5%;
    font-size: 24px;
    font-weight: bold;
   
}
.navbar .navbar-nav
{
    padding-right: 20%;
}
.navbar .nav-item
{
    padding: 10px 22px;
    font-size: 21px;
}
/*-----------------------------------------------------ENd Navbar Section--------------------------------------------------*/
/*------------------------------------------------------Start Background Section----------------------------------------*/
.background_image .bgimg
{
    width: 100%;
    
}
.background_image .main-div {
    position: relative;
    text-align: center;
    color: white;
  }
  .background_image .main-div .text-center {
    position: absolute;
    top: 40%;
    left: 10%;
    font-size:4vw;
  }
  .background_image .main-div .explore-button
  {
      position: absolute;
      top: 60%;
      left: 10%;
      font-size: 15px;
      font-weight: bold;
  }
  /*-------------------------------------------------------End Background Section---------------------------------------------------- */
  /*------------------------------------------------Start About Us Section---------------------------------------------------*/
  .About-us
  {
      margin-top: 5%;
      margin-bottom: 5%;
  }
  .About-us .about_img img
  {
      
      width: 65%;
  }
  .About-us h2
  {
      font-weight: bold;
      font-size: 32px;
  }
  .About-us .aboutcolor
  {
      color:goldenrod;
  }
   .firstheading
  {
      font-size: 24px;
      font-weight: bold;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .About-us .secondheading
  {
      font-weight: bold;
      font-size:16px;
  }
  a.buttonorange{
      border: 1px solid;
      border-radius: 5px;
      background-color: orange;
      padding: 8px;
      color: white;
      font-weight: bolder;
      text-decoration: none;
      transition: 0.3s;
  }
  a.buttonorange:hover{
      background-color: rgb(218, 106, 86);
  }
  .orange-btn{
      margin-top: 32px;
  }
    /*------------------------------------------------End About Us Section---------------------------------------------------*/
  /* -------------------------------------------------Start Request a Quote Section-------------------------------------------------- */
.requestquote{
    padding: 8px;
    color: white;
}
.requestquote .request{
    background-image: url("Images/requestaquote.webp");
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    padding: 0%;
   
}
.requestquote .overlay{
   
  
    opacity: .8;
    background: #040e26;
    z-index: -1;
padding: 56px;

}
.requestquote h2{
    color: white ;
    
}

  /* -------------------------------------------------End Request a Quote Section-------------------------------------------------- */
  /*---------------------------------------------------------Start Our project Section-------------------------------------------*/
.our-project
{
    margin-top: 5%;
    margin-bottom: 5%;

}
/* .our-project .first-heading h2
{
    font-size: 32px;
  
    font-weight: bold;
}
   */
.our-project .prorow
{
    margin-top: 24px;
    margin-bottom: 24px;
}
.our-project .col-md-4 .procol{
    margin-top: 5%;
    border: 2px solid white;
    box-shadow: 8px 8px 20px rgba(255, 0, 0, 0.308);
    border-radius: 5px;
    padding: 16px;
    background-color: rgba(216, 191, 216, 0.288);
    padding-bottom: 24px;
}
.our-project h3,.Whyscooseus h3{
    text-transform: uppercase;
    padding-top: 16px;
    text-shadow: 4px -3px lightblue;
}
  /*---------------------------------------------------------End Our project Section-------------------------------------------*/
  /* -------------------------------------Start Why choose Us Section ---------------------------------------------*/
  .Whyscooseus .first-heading p{
      padding: 16px;
  }
  /* -------------------------------------End Why choose Us Section ---------------------------------------------*/
  
  /* ------------------------------------------Start Footer section ---------------------------------------------------------*/
  footer{
      background-color: rgba(0, 0, 0, 0.767);
      color: white;
      padding: 56px;
  }
  footer h4{
      text-transform: uppercase;
  }
  footer .col-md-4,.col-md-3{
      padding-top:16px ;
  }
  footer ul{
    padding: 0;
    margin: 0;
  }
  footer li{
      list-style-type: none;
      margin-bottom: 16px;
  }
  footer a{
      color: white;
      text-decoration:none ;
  }
  footer a:hover{
      color:orange;
  }
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.footer-list-1 li {
    margin-bottom: 8px;
    border-bottom: 1px solid #676767;
    padding-bottom: 8px;
}

  ul.footer-list-2 li {
    display: inline-block;
    margin-right: 16px;
    margin-top: 16px;
}

ul.footer-list-2 a {
    border: 1px solid;
    padding: 8px;
    border-radius: 5px;
    transition: 0.3s;
}

ul.footer-list-2 a:hover {
    background-color: orange;
    color: white;
    border: 1px solid;
    padding: 8px;
    border-radius: 5px;
    transition: 0.3s;
}
